.App {
  text-align: center;
  height: 100%;
  /*Patter gotten from https://www.toptal.com/designers/subtlepatterns/swirl-2/ under CC licence*/
  background-image: url("./swirl_pattern.png");
  background-repeat: repeat;
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, minmax(auto, 20vh));
  grid-template-areas: 
    "title title title title title"
    "tab1 tab2 tab3 tab4 ."
    "image image text text category-image"
    "image image text text category-text"
    "image image text text category-audio"
    "audio audio text text ."

}

@media (min-width: 600px) {
  #text{
      overflow-y: scroll;
      height: 80vh;
  }
}

@media (max-width: 600px){
  #container {
    background: #ddf;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "title title title title"
      "category-image category-text category-audio ."
      "tab1 tab2 tab3 tab4"
      "image image image image"
      "audio audio audio audio"
      "text text text text"
      
  }
  #text{
    height:100%;
  }
}


#container > * {
  margin: 4px;
  /*border: 1px solid black;*/
  border-radius: 2px;
  box-shadow: 2px 2px 4px gray;
  background: white;
}

#title {
  grid-area: title;
}

.tab {
  display: inline;
}

#tab1 {
  grid-area: tab1;
}

#tab2 {
  grid-area: tab2;
}

#tab3 {
  grid-area: tab3;
}

#tab4 {
  grid-area: tab4;
}

#image {
  max-height: 60vh;
  grid-area: image;
}

svg {
  background-size: contain;
}

#text {
  grid-area: text;
  font-family: serif;
  color: white;
  background: black;
}


#audio {
  grid-area: audio;
}

#category-image {
  grid-area: category-image;
}

#category-text {
  grid-area: category-text;
}

#category-audio {
  grid-area: category-audio;
}

