.App {
  text-align: center;
  height: 100%;
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: 
    "title title title title title"
    "tab1 tab2 tab3 tab4 ."
    "image image image text category-image"
    "image image image text category-text"
    "image image image audio category-audio";
}

#container > * {
  border: 1px solid black;
}

#title {
  grid-area: title;
}

#tab1 {
  grid-area: tab1;
}

#tab2 {
  grid-area: tab2;
}

#tab3 {
  grid-area: tab3;
}

#tab4 {
  grid-area: tab4;
}

#image {
  grid-area: image;
}

#text {
  grid-area: text;
}

#audio {
  grid-area: audio;
}

#category-image {
  grid-area: category-image;
}

#category-text {
  grid-area: category-text;
}

#category-audio {
  grid-area: category-audio;
}

